[submodule "assets/media/wp-content/uploads/stuff"]
	path = assets/media/wp-content/uploads/stuff
	url = https://github.com/binfalse/stuff.git
[submodule "assets/resources/MathJax"]
	path = assets/resources/MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "assets/resources/lightbox2"]
	path = assets/resources/lightbox2
	url = https://github.com/lokesh/lightbox2/
[submodule "assets/resources/stuff/jekyll-static-comments"]
	path = assets/resources/stuff/jekyll-static-comments
	url = https://github.com/binfalse/jekyll-static-comments.git
[submodule "assets/resources/stuff/monitoring"]
	path = assets/resources/stuff/monitoring
	url = https://github.com/binfalse/monitoring
