Options +FollowSymlinks
RewriteEngine on
RewriteRule ^wp-content/uploads/pipapo/(.*)$ /assets/media/wp-content/uploads/stuff/$1 [R=301,NC]
RewriteRule ^wp-content/(.*)$ /assets/media/wp-content/$1 [R=301,NC]
RewriteRule 2010/04/n3rd-goes-mainstream(.*) /2010/04/17/n3rd-goes-mainstream$1 [R=301,NC]
RewriteRule 2009/08/ssh-authentication-via-public-key(.*) /2009/08/19/ssh-authentication-via-public-key$1 [R=301,NC]
RewriteRule 2009/08/git-repository-hosting-with-debian(.*) /2009/08/23/git-repository-hosting-with-debian$1 [R=301,NC]
RewriteRule 2010/04/faking-proxy-via-ssh-tunnel(.*) /2010/04/17/faking-proxy-via-ssh-tunnel$1 [R=301,NC]
RewriteRule 2010/04/from-distance-matrix-to-binary-tree(.*) /2010/04/23/from-distance-matrix-to-binary-tree$1 [R=301,NC]
RewriteRule 2010/04/converting-videos-to-images(.*) /2010/04/26/converting-videos-to-images$1 [R=301,NC]
RewriteRule 2010/05/april-fools-month(.*) /2010/05/03/april-fools-month$1 [R=301,NC]
RewriteRule 2010/05/playing-around-with-sun-spots(.*) /2010/05/09/playing-around-with-sun-spots$1 [R=301,NC]
RewriteRule 2010/05/you-dont-know-the-flash-trick(.*) /2010/05/14/you-dont-know-the-flash-trick$1 [R=301,NC]
RewriteRule 2010/05/java-network-connection-on-debiansid(.*) /2010/05/15/java-network-connection-on-debiansid$1 [R=301,NC]
RewriteRule 2010/05/first-sun-spot-results(.*) /2010/05/17/first-sun-spot-results$1 [R=301,NC]
RewriteRule 2010/05/little-quickie-through-germany(.*) /2010/05/25/little-quickie-through-germany$1 [R=301,NC]
RewriteRule 2010/05/git-merging-showcase(.*) /2010/05/21/git-merging-showcase$1 [R=301,NC]
RewriteRule 2010/05/which-country-is-the-most-stupid(.*) /2010/05/27/which-country-is-the-most-stupid$1 [R=301,NC]
RewriteRule 2010/05/need-more-bandwidth(.*) /2010/05/29/need-more-bandwidth$1 [R=301,NC]
RewriteRule 2010/05/serv-local-printer(.*) /2010/05/29/serv-local-printer$1 [R=301,NC]
RewriteRule 2010/06/thunderbird-to-systray(.*) /2010/06/02/thunderbird-to-systray$1 [R=301,NC]
RewriteRule 2010/07/inactivity-not-in-the-slightest(.*) /2010/07/01/inactivity-not-in-the-slightest$1 [R=301,NC]
RewriteRule 2010/07/google-does-not-like-self-signed-ssl-certs(.*) /2010/07/08/google-does-not-like-self-signed-ssl-certs$1 [R=301,NC]
RewriteRule 2010/07/microscope-puzzle(.*) /2010/07/11/microscope-puzzle$1 [R=301,NC]
RewriteRule 2010/07/uuurrgh-ubuntu(.*) /2010/07/09/uuurrgh-ubuntu$1 [R=301,NC]
RewriteRule 2010/07/mensa-plan(.*) /2010/07/15/mensa-plan$1 [R=301,NC]
RewriteRule 2010/07/welcome-to-twitter(.*) /2010/07/20/welcome-to-twitter$1 [R=301,NC]
RewriteRule 2010/07/mtp-and-some-workarounds(.*) /2010/07/27/mtp-and-some-workarounds$1 [R=301,NC]
RewriteRule 2010/07/google-alarm(.*) /2010/07/27/google-alarm$1 [R=301,NC]
RewriteRule 2010/08/smart-game(.*) /2010/08/09/smart-game$1 [R=301,NC]
RewriteRule 2010/08/expiration-dates-of-hash-functions(.*) /2010/08/10/expiration-dates-of-hash-functions$1 [R=301,NC]
RewriteRule 2010/08/journey-to-usedom(.*) /2010/08/15/journey-to-usedom$1 [R=301,NC]
RewriteRule 2010/08/tweet-button-for-website(.*) /2010/08/15/tweet-button-for-website$1 [R=301,NC]
RewriteRule 2010/08/entering-next-level-wordpress-3-0-1(.*) /2010/08/15/entering-next-level-wordpress-3-0-1$1 [R=301,NC]
RewriteRule 2010/08/new-logo-for-iceweasel(.*) /2010/08/16/new-logo-for-iceweasel$1 [R=301,NC]
RewriteRule 2010/08/cracked-a-captcha(.*) /2010/08/17/cracked-a-captcha$1 [R=301,NC]
RewriteRule 2010/08/cracked-next-captcha(.*) /2010/08/18/cracked-next-captcha$1 [R=301,NC]
RewriteRule 2010/08/increasing-anonymity-with-tor(.*) /2010/08/20/increasing-anonymity-with-tor$1 [R=301,NC]
RewriteRule 2010/08/show-all-tags-in-wp-when-creating-new-post(.*) /2010/08/21/show-all-tags-in-wp-when-creating-new-post$1 [R=301,NC]
RewriteRule 2010/08/userinteraction-with-perl(.*) /2010/08/31/userinteraction-with-perl$1 [R=301,NC]
RewriteRule 2010/09/twitter-disabled-basic-authentication(.*) /2010/09/02/twitter-disabled-basic-authentication$1 [R=301,NC]
RewriteRule 2010/09/umlauts-on-english-keyboards(.*) /2010/09/03/umlauts-on-english-keyboards$1 [R=301,NC]
RewriteRule 2010/09/firsthtml5-experiences(.*) /2010/09/04/firsthtml5-experiences$1 [R=301,NC]
RewriteRule 2010/09/ssh-escape-sequences(.*) /2010/09/04/ssh-escape-sequences$1 [R=301,NC]
RewriteRule 2010/09/advanced-searching-via-z-algorithm(.*) /2010/09/08/advanced-searching-via-z-algorithm$1 [R=301,NC]
RewriteRule 2010/09/jabber-meets-twitter(.*) /2010/09/11/jabber-meets-twitter$1 [R=301,NC]
RewriteRule 2010/09/bye-sidux-welcome-aptosid(.*) /2010/09/14/bye-sidux-welcome-aptosid$1 [R=301,NC]
RewriteRule 2010/09/cracked-the-centenary(.*) /2010/09/14/cracked-the-centenary$1 [R=301,NC]
RewriteRule 2010/09/suffix-trees(.*) /2010/09/20/suffix-trees$1 [R=301,NC]
RewriteRule 2010/10/lost-my-gitosis-post-update(.*) /2010/10/08/lost-my-gitosis-post-update$1 [R=301,NC]
RewriteRule 2010/10/export-r-data-to-tex-code(.*) /2010/10/12/export-r-data-to-tex-code$1 [R=301,NC]
RewriteRule 2010/10/reassembling-logical-operations-on-boolean-vectors-in-gnu-r(.*) /2010/10/13/reassembling-logical-operations-on-boolean-vectors-in-gnu-r$1 [R=301,NC]
RewriteRule 2010/10/hacking-shibboleth(.*) /2010/10/14/hacking-shibboleth$1 [R=301,NC]
RewriteRule 2010/10/reminded-by-unforgotten(.*) /2010/10/15/reminded-by-unforgotten$1 [R=301,NC]
RewriteRule 2010/10/welcome-rumpel(.*) /2010/10/18/welcome-rumpel$1 [R=301,NC]
RewriteRule 2010/10/resort-search-results-in-squirrelmail(.*) /2010/10/23/resort-search-results-in-squirrelmail$1 [R=301,NC]
RewriteRule 2010/11/rna-seq-introducing-galaxy(.*) /2010/11/20/rna-seq-introducing-galaxy$1 [R=301,NC]
RewriteRule 2010/11/shortcutr-locator(.*) /2010/11/20/shortcutr-locator$1 [R=301,NC]
RewriteRule 2010/11/homage-to-floating-points(.*) /2010/11/22/homage-to-floating-points$1 [R=301,NC]
RewriteRule 2010/11/shortcutxtrlock-avoid-xscreensaver(.*) /2010/11/30/shortcutxtrlock-avoid-xscreensaver$1 [R=301,NC]
RewriteRule 2010/12/boot-messages-to-service-console(.*) /2010/12/01/boot-messages-to-service-console$1 [R=301,NC]
RewriteRule 2010/12/opennic-dns-network(.*) /2010/12/03/opennic-dns-network$1 [R=301,NC]
RewriteRule 2010/12/shortcutsiblings-tail-and-its-derivatives(.*) /2010/12/06/shortcutsiblings-tail-and-its-derivatives$1 [R=301,NC]
RewriteRule 2010/12/crypto-off(.*) /2010/12/07/crypto-off$1 [R=301,NC]
RewriteRule 2010/12/value-of-an-r-object-in-an-expression(.*) /2010/12/16/value-of-an-r-object-in-an-expression$1 [R=301,NC]
RewriteRule 2010/12/too-much-at-once(.*) /2010/12/15/too-much-at-once$1 [R=301,NC]
RewriteRule 2010/12/similar-to(.*) /2010/12/17/similar-to$1 [R=301,NC]
RewriteRule 2011/01/shortcutgpg-mysterious-crypto-mails(.*) /2011/01/07/shortcutgpg-mysterious-crypto-mails$1 [R=301,NC]
RewriteRule 2010/12/open-research-computation(.*) /2010/12/18/open-research-computation$1 [R=301,NC]
RewriteRule 2010/12/vim-plugin-for-r(.*) /2010/12/19/vim-plugin-for-r$1 [R=301,NC]
RewriteRule 2010/12/created-an-ai-for-a-contest(.*) /2010/12/20/created-an-ai-for-a-contest$1 [R=301,NC]
RewriteRule 2010/12/fm-contest-tactics(.*) /2010/12/21/fm-contest-tactics$1 [R=301,NC]
RewriteRule 2010/12/fm-contest-mappings(.*) /2010/12/22/fm-contest-mappings$1 [R=301,NC]
RewriteRule 2010/12/yeah-top-ten(.*) /2010/12/21/yeah-top-ten$1 [R=301,NC]
RewriteRule 2011/01/adding-a-hyperlink-to-java-swing-gui(.*) /2011/01/03/adding-a-hyperlink-to-java-swing-gui$1 [R=301,NC]
RewriteRule 2011/01/revived-iso2l(.*) /2011/01/02/revived-iso2l$1 [R=301,NC]
RewriteRule 2011/01/shortcutimage-screenshooting-a-jpanel(.*) /2011/01/04/shortcutimage-screenshooting-a-jpanel$1 [R=301,NC]
RewriteRule 2011/01/pre-and-post-suspend(.*) /2011/01/05/pre-and-post-suspend$1 [R=301,NC]
RewriteRule 2011/01/web-content-anlayzer(.*) /2011/01/06/web-content-anlayzer$1 [R=301,NC]
RewriteRule 2011/01/apt-get-install-wp3-0-4(.*) /2011/01/08/apt-get-install-wp3-0-4$1 [R=301,NC]
RewriteRule 2011/01/yeah-second-in-fm-contest(.*) /2011/01/09/yeah-second-in-fm-contest$1 [R=301,NC]
RewriteRule 2011/01/alternative-to-vzprocps(.*) /2011/01/14/alternative-to-vzprocps$1 [R=301,NC]
RewriteRule 2011/01/x-deletes-input-devices(.*) /2011/01/15/x-deletes-input-devices$1 [R=301,NC]
RewriteRule 2011/02/freiesmagazin-022011-published(.*) /2011/02/06/freiesmagazin-022011-published$1 [R=301,NC]
RewriteRule 2011/02/its-squeeezzed(.*) /2011/02/06/its-squeeezzed$1 [R=301,NC]
RewriteRule 2011/02/apache-not-parsing-php-files(.*) /2011/02/10/apache-not-parsing-php-files$1 [R=301,NC]
RewriteRule 2011/02/mysql-upgrade-failed(.*) /2011/02/11/mysql-upgrade-failed$1 [R=301,NC]
RewriteRule 2011/02/shortcutregex-x-modifier(.*) /2011/02/21/shortcutregex-x-modifier$1 [R=301,NC]
RewriteRule 2011/02/java-lang-outofmemoryerror-java-heap-space(.*) /2011/02/12/java-lang-outofmemoryerror-java-heap-space$1 [R=301,NC]
RewriteRule 2011/02/valentines-day(.*) /2011/02/14/valentines-day$1 [R=301,NC]
RewriteRule 2011/02/open-source-dna(.*) /2011/02/17/open-source-dna$1 [R=301,NC]
RewriteRule 2011/02/damn-scoping-in-r(.*) /2011/02/18/damn-scoping-in-r$1 [R=301,NC]
RewriteRule 2011/02/auth-issues(.*) /2011/02/18/auth-issues$1 [R=301,NC]
RewriteRule 2011/02/readability-vs-speed-in-r(.*) /2011/02/19/readability-vs-speed-in-r$1 [R=301,NC]
RewriteRule 2011/02/talking-r-through-java(.*) /2011/02/20/talking-r-through-java$1 [R=301,NC]
RewriteRule 2011/02/very-first-time-with-a-synapt(.*) /2011/02/26/very-first-time-with-a-synapt$1 [R=301,NC]
RewriteRule 2011/04/comparison-of-compression(.*) /2011/04/04/comparison-of-compression$1 [R=301,NC]
RewriteRule 2011/04/closer-look-to-triwave-and-mse(.*) /2011/04/09/closer-look-to-triwave-and-mse$1 [R=301,NC]
RewriteRule 2011/04/stupid-handycrafts(.*) /2011/04/12/stupid-handycrafts$1 [R=301,NC]
RewriteRule 2011/04/inspecting-java-startups(.*) /2011/04/17/inspecting-java-startups$1 [R=301,NC]
RewriteRule 2011/04/humanizing-atan2(.*) /2011/04/27/humanizing-atan2$1 [R=301,NC]
RewriteRule 2011/04/moved-to-icinga(.*) /2011/04/18/moved-to-icinga$1 [R=301,NC]
RewriteRule 2011/05/using-mathjax-to-render-math(.*) /2011/05/03/using-mathjax-to-render-math$1 [R=301,NC]
RewriteRule 2011/04/get-rid-of-version-grml-02(.*) /2011/04/28/get-rid-of-version-grml-02$1 [R=301,NC]
RewriteRule 2011/04/shortcutproprietary-nvidia-update(.*) /2011/04/29/shortcutproprietary-nvidia-update$1 [R=301,NC]
RewriteRule 2011/05/why-false-is-sometimes-true(.*) /2011/05/02/why-false-is-sometimes-true$1 [R=301,NC]
RewriteRule 2011/05/plotting-wo-x(.*) /2011/05/10/plotting-wo-x$1 [R=301,NC]
RewriteRule 2011/05/converting-peaks-to-gaussians(.*) /2011/05/15/converting-peaks-to-gaussians$1 [R=301,NC]
RewriteRule 2011/05/r-for-the-web(.*) /2011/05/28/r-for-the-web$1 [R=301,NC]
RewriteRule 2011/08/they-are-following-you(.*) /2011/08/10/they-are-following-you$1 [R=301,NC]
RewriteRule 2011/06/benefit-of-standardization-opsin(.*) /2011/06/03/benefit-of-standardization-opsin$1 [R=301,NC]
RewriteRule 2011/06/displaying-compounds-with-webgl(.*) /2011/06/04/displaying-compounds-with-webgl$1 [R=301,NC]
RewriteRule 2011/06/apache-displaying-instead-of-downloading(.*) /2011/06/05/apache-displaying-instead-of-downloading$1 [R=301,NC]
RewriteRule 2011/06/stretching-yokofakun(.*) /2011/06/14/stretching-yokofakun$1 [R=301,NC]
RewriteRule 2011/06/private-url-shortener(.*) /2011/06/16/private-url-shortener$1 [R=301,NC]
RewriteRule 2011/06/r-progress-indicators(.*) /2011/06/19/r-progress-indicators$1 [R=301,NC]
RewriteRule 2011/06/hallo-vg-wort-hier-blogger(.*) /2011/06/22/hallo-vg-wort-hier-blogger$1 [R=301,NC]
RewriteRule 2011/06/2-applications-for-1-port(.*) /2011/06/26/2-applications-for-1-port$1 [R=301,NC]
RewriteRule 2011/06/connecting-through-a-nat-the-not-trivial-direction(.*) /2011/06/30/connecting-through-a-nat-the-not-trivial-direction$1 [R=301,NC]
RewriteRule 2011/07/build-your-own-network-packets(.*) /2011/07/07/build-your-own-network-packets$1 [R=301,NC]
RewriteRule 2011/07/rate-my-po(.*) /2011/07/08/rate-my-po$1 [R=301,NC]
RewriteRule 2011/07/now-im-r-blogging(.*) /2011/07/10/now-im-r-blogging$1 [R=301,NC]
RewriteRule 2011/08/installing-an-hp-proliant(.*) /2011/08/01/installing-an-hp-proliant$1 [R=301,NC]
RewriteRule 2011/08/wordpress-wordcloud-with-r(.*) /2011/08/03/wordpress-wordcloud-with-r$1 [R=301,NC]
RewriteRule 2011/08/hacking-havag(.*) /2011/08/09/hacking-havag$1 [R=301,NC]
RewriteRule 2011/11/sharing-a-wifi-connection(.*) /2011/11/13/sharing-a-wifi-connection$1 [R=301,NC]
RewriteRule 2011/11/compress-googles-reader(.*) /2011/11/14/compress-googles-reader$1 [R=301,NC]
RewriteRule 2011/11/ionhunter(/.*)? /2011/11/28/ionhunter$1 [R=301,NC]
RewriteRule 2011/11/presentation-using-two-screens(.*) /2011/11/25/presentation-using-two-screens$1 [R=301,NC]
RewriteRule 2012/04/conditionally-autoscroll-a-jscrollpane(.*) /2012/04/10/conditionally-autoscroll-a-jscrollpane$1 [R=301,NC]
RewriteRule 2012/04/j-vs-t-goes-java(.*) /2012/04/01/j-vs-t-goes-java$1 [R=301,NC]
RewriteRule 2012/04/galternatives(.*) /2012/04/05/galternatives$1 [R=301,NC]
RewriteRule 2012/04/yourls-firefox-extension-version-1-4(.*) /2012/04/02/yourls-firefox-extension-version-1-4$1 [R=301,NC]
RewriteRule 2012/09/howto-debug-bash-scripts(.*) /2012/09/08/howto-debug-bash-scripts$1 [R=301,NC]
RewriteRule 2012/09/mfc-9120cn-setup(.*) /2012/09/01/mfc-9120cn-setup$1 [R=301,NC]
RewriteRule 2012/09/absolute-path-of-a-servlet-installation(.*) /2012/09/07/absolute-path-of-a-servlet-installation$1 [R=301,NC]
RewriteRule 2012/09/validating-xml-files(.*) /2012/09/12/validating-xml-files$1 [R=301,NC]
RewriteRule 2012/09/bash-wildcards(.*) /2012/09/17/bash-wildcards$1 [R=301,NC]
RewriteRule 2013/01/sync-the-clock-wo-ntp(.*) /2013/01/11/sync-the-clock-wo-ntp$1 [R=301,NC]
RewriteRule 2013/01/encfs-transparent-crypto-overlay(.*) /2013/01/16/encfs-transparent-crypto-overlay$1 [R=301,NC]
RewriteRule 2013/01/kde-file-type-actions(.*) /2013/01/24/kde-file-type-actions$1 [R=301,NC]
RewriteRule 2013/01/wp-login-php-brute-force-defense(.*) /2013/01/26/wp-login-php-brute-force-defense$1 [R=301,NC]
RewriteRule 2013/06/the-password-dilemma(.*) /2013/06/01/the-password-dilemma$1 [R=301,NC]
RewriteRule 2013/06/check-if-certain-port-is-open(.*) /2013/06/09/check-if-certain-port-is-open$1 [R=301,NC]
RewriteRule 2013/06/change-title-of-moderncv-document(.*) /2013/06/21/change-title-of-moderncv-document$1 [R=301,NC]
RewriteRule 2013/06/find-all-text-files-recursively(.*) /2013/06/30/find-all-text-files-recursively$1 [R=301,NC]
RewriteRule 2013/10/integrating-tomcat-with-apache(.*) /2013/10/04/integrating-tomcat-with-apache$1 [R=301,NC]
RewriteRule 2013/11/extended-mytinytodo(.*) /2013/11/05/extended-mytinytodo$1 [R=301,NC]
RewriteRule 2013/11/challenge-is-over(.*) /2013/11/28/challenge-is-over$1 [R=301,NC]
RewriteRule 2014/01/gajim-idling-error(.*) /2014/01/08/gajim-idling-error$1 [R=301,NC]
RewriteRule 2014/01/new-gpg-key(.*) /2014/01/15/new-gpg-key$1 [R=301,NC]
RewriteRule 2014/07/record-stream-using-vlc(.*) /2014/07/02/record-stream-using-vlc$1 [R=301,NC]
RewriteRule 2014/08/web-screenshots-wo-browser(.*) /2014/08/30/web-screenshots-wo-browser$1 [R=301,NC]
RewriteRule 2015/01/gem-installation-fails-update-gcc(.*) /2015/01/18/gem-installation-fails-update-gcc$1 [R=301,NC]
