
{% unless page.comments == "off" or page.comments == false  %}

{% if page.slug %}
{% assign slug = page.slug %}
{% else %}
{% assign slug = page.url  | split: "/" | last" %}
{% endif %}
{% if site.data.comments[slug] %}
  <div id="comments" class="page__comments js-comments">
    <h2 class="title">
      {% if site.data.comments[slug].size <= 1 %}
        {{ site.data.comments[slug] | size | append: ' comment' }}
      {% elsif site.data.comments[slug].size > 1 %}
        {{ site.data.comments[slug] | size | append: ' comments' }}
      {% endif %}
    </h2>
    {% assign comments = site.data.comments[slug] | sort %}
    {% for comment in comments %}
      {% if comment[1]._parent %}
        {% if comment[1]._parent != comment[1]._id %}
            {% continue %}
        {% endif %}
        {% assign parent      = comment[1]._parent %}
      {% else %}
        {% assign parent      = comment[1]._id %}
      {% endif %}
      {% assign id          = comment[1]._id %}
      {% assign name        = comment[1].name %}
      {% assign url         = comment[1].link %}
      {% assign date        = comment[1].date %}
      {% assign message     = comment[1].message %}
      {% include comment.html id=id parent=parent avatar=avatar email=email name=name url=url date=date message=message %}
    {% endfor %}
  </div>
{% endif %}






<!-- Start comment form -->
  <div id="respond" class="comment__form">
    <h2 class="title">Leave a comment</h2>
    
    <p id="comment-options">There are multiple options to leave a comment:</p>
    
    <ul>
      <li><a href="/contact/">send me an email</a></li>
         {% assign txt1 = 'Comment for article: '| url_encode %}
         {% assign url = page.url|remove:'index.html'| url_encode %}
         {% assign txt2 = '\nhaving id: '| url_encode %}
         {% assign id = slug %}
         {% assign txt3 = '\n------- PLEASE LEAVE THE ABOVE UNTOUCHED AND WRITE COMMENT BELOW -------\n------- IF YOU WANT ME TO INCLUDE CREDITS ADD YOUR NAME AND MAIL -------\n\n'| url_encode %}
      <li>submit a comment through the <a href="http://fb.binfalse.de/?text={{txt1}}{{url}}{{txt2}}{{id}}{{txt3}}">feedback page</a> (<a href="http://3djgibyu5osi4na5.onion/?text={{txt1}}{{url}}{{txt2}}{{id}}{{txt3}}">anonymously via TOR</a>)</li>
      <li><a href="https://github.com/binfalse/binfalse.de">Fork this repo</a> at GitHub, add your comment to the _data/comments directory and send me a pull request</li>
      <li>Fill the following form and <a href="https://staticman.net/">Staticman</a> will automagically create a pull request for you:</li>
    </ul>
    
    <form id="comment-form" method="POST" action="https://staticman.binfalse.de/v2/entry/binfalse/binfalse.de/master/comments">
      <div class="form-group">
        <label for="comment-form-name"><strong>Name</strong></label>
          <input type="text" class="form-control" id="comment-form-name" name="fields[name]" required spellcheck="false" placeholder="Your name">
        
      </div>
      <div class="form-group">
        <label for="comment-form-url"><strong>Website (optional)</strong></label>
          <input type="url" class="form-control" id="comment-form-url" name="fields[link]" placeholder="https://domain.com">
        
      </div>
      <div class="form__group">
        <label for="comment-form-message"><strong>Comment</strong></label>
          <textarea type="text" class="form-control" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true" placeholder="Your message"></textarea>
        
      </div>
      <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}#comments">
      <input type="hidden" name="options[redirect]" value="{{ page.url | absolute_url }}#comments">
      <input type="hidden" id="comment-replying-to" name="options[parent]" value>
      <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
      <p><strong>Please Note:</strong> By submitting your comment your browser will send the values of the form fields (and the typical browsing meta data) to the API of Staticman (<a href="/2020/02/20/say-hello-to-staticman/">read more</a>). If you don't want to connect to a third party, you should use one of the other options to send your comment, see the <a href="#comment-options">list above</a>. Please also check my <a href="/man-page/#4d-commenting-through-staticman">privacy policy</a>.</p>
      <button type="submit" id="send-comment" class="btn btn-secondary mt-2">Send comment</button>
    </form>
    <div class="hidden js-notice notice">
      <p class="js-notice-text"></p>
    </div>
  </div>

{% endunless %}
