{% if page.slug %}
{% assign slug = page.slug %}
{% else %}
{% assign slug = page.url  | split: "/" | last" %}
{% endif %}
{% if site.data.comments[slug] %}
  <div id="comments" class="page__comments js-comments">
    <h2 class="title">
      {% if site.data.comments[slug].size <= 1 %}
        {{ site.data.comments[slug] | size | append: ' comment' }}
      {% elsif site.data.comments[slug].size > 1 %}
        {{ site.data.comments[slug] | size | append: ' comments' }}
      {% endif %}
    </h2>
    {% assign comments = site.data.comments[slug] | sort | where_exp: 'comment', 'comment[1]._parent == comment[1]._id' %}
    {% for comment in comments %}
      {% assign id          = comment[1]._id %}
      {% assign parent      = comment[1]._parent %}
      {% assign name        = comment[1].name %}
      {% assign url         = comment[1].link %}
      {% assign date        = comment[1].date %}
      {% assign message     = comment[1].message %}
      {% include comment.html id=id parent=parent avatar=avatar email=email name=name url=url date=date message=message %}
    {% endfor %}
  </div>
{% endif %}






<!-- Start comment form -->
  <div id="respond" class="comment__form">
    <h2 class="title">Leave a comment</h2>
    <form id="comment-form" method="POST" action="https://dev.staticman.net/v3/entry/github/binfalse/binfalse.de/master">
      <div class="form-group">
        <label for="comment-form-name">Name</label>
          <input type="text" class="form-control" id="comment-form-name" name="fields[name]" required spellcheck="false" placeholder="Your name">
        
      </div>
      <div class="form-group">
        <label for="comment-form-url">Website (optional)</label>
          <input type="url" class="form-control" id="comment-form-url" name="fields[link]" placeholder="https://domain.com">
        
      </div>
      <div class="form__group">
        <label for="comment-form-message">Comment</label>
          <textarea type="text" class="form-control" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true" placeholder="Your message"></textarea>
        
      </div>
      <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}#comments">
      <input type="hidden" name="options[redirect]" value="{{ page.url | absolute_url }}#comments">
      <input type="hidden" id="comment-replying-to" name="options[parent]" value>
      <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
      <button type="submit" id="send-comment" class="btn btn-secondary mt-2">Send comment</button>
    </form>
    <div class="hidden js-notice notice">
      <p class="js-notice-text"></p>
    </div>
  </div>
