<!-- _includes/image.html -->
<div class="image-wrapper {{ include.align }}" >
    <figure>
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank" data-lightbox="{{include.url}}" data-title="{{include.caption}}">
    {% endif %}
        <img src="{{ include.img }}" alt="{{ include.title }}"/>
    {% if include.url %}
    </a>
    {% endif %}
    {% if include.caption %}
        <figcaption>{{ include.caption }}</figcaption>
    {% endif %}
    </figure>
</div>
