<div class="my-5">
  <section class="share col-sm-6">
    <h4 class="section-title">Share Post</h4>
    <a class="btn btn-outline-secondary btn-sm twitter" href="http://twitter.com/share?text={{page.title | encode}}{% if site.author.twitter%}&amp;via={{site.author.twitter}}{% endif %}&amp;url={{ site.url }}{{ page.url }}" target="_blank">
      <i class="fab fa-twitter fa-lg"></i>
      Twitter
    </a>
    <a class="btn btn-outline-secondary btn-sm facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
      <i class="fab fa-facebook fa-lg"></i>
      Facebook
    </a>
    <a class="btn btn-outline-secondary btn-sm linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}&amp;title={{page.title | encode}}" target="_blank">
      <i class="fab fa-linkedin fa-lg"></i>
      LinkedIn
    </a>
    <a class="btn btn-outline-secondary btn-sm reddit" href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{page.title | encode}}" target="_blank">
      <i class="fab fa-reddit fa-lg"></i>
      Reddit
    </a>
  </section>

  <section class="col-sm-6 author">
    <img src="{{ site.BASE_PATH }}/assets/ico/mainpic-2020.png" class="img-rounded author-image" />
    <h4 class="section-title author-name">{{site.author.name}}</h4>
    <p class="author-bio">{{site.author.bio}}</p>
  </section>
  <div class="clearfix"></div>
  
  <div class="row d-flex justify-content-center">
    <div class="meta-support">
      <div class="support-icon">
        <i class="fas fa-seedling fa-3x"></i>
      </div>
      <div class="support-text">
        Do you like this page?<br><a href="/support">You can actively support me!</a>
      </div>
    </div>
  </div>
  
  <div class="clearfix"></div>
</div>
