<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/ico/mainpic-2020.png" class="img-circle" />
	</a>
	<span class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </span>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="https://github.com/{{ site.author.github }}" rel="me">
				<i class="fab fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="https://twitter.com/{{ site.author.twitter }}" rel="me">
				<i class="fab fa-twitter fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.mastodon %}
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="{{ site.author.mastodon }}" rel="me">
				<i class="fab fa-mastodon fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="mailto:{{ site.author.email }}" rel="me">
				<i class="fab fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.pinterest %}
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="https://pinterest.com/{{ site.author.pinterest }}">
				<i class="fab fa-pinterest fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="https://linkedin.com/in/{{ site.author.linkedin }}" rel="me">
				<i class="fab fa-linkedin fa-lg"></i>
			</a>
		</li>
		{% endif %}
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fas fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
	<ul class="list-unstyled list-inline">
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="{{ site.BASE_PATH }}/man-page" title="About this page">
				<i class="far fa-question-circle fa-lg"></i>
			</a>
		</li>
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="{{ site.BASE_PATH }}/contact" title="Contact me">
				<i class="far fa-paper-plane fa-lg"></i>
			</a>
		</li>
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="{{ site.BASE_PATH }}/dispatch" title="Dispatcher">
				<i class="fas fa-link fa-flip-horizontal fa-lg"></i>
			</a>
		</li>
		<li class="list-inline-item">
			<a class="btn btn-dark btn-sm" href="{{ site.BASE_PATH }}/software" title="Software">
				<i class="fas fa-code fa-lg"></i>
			</a>
		</li>
	</ul>
</div>

<button type="button" class="btn navbar-toggler"  data-toggle="collapse" data-target="#pages-list" aria-controls="pages-list" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
</button>


<div id="pages-list" class="collapse navbar-collapse">
	<ul class="list-unstyled">
				<li {% if page.url == "/" %}class="active"{% endif %}><a class="collink" href="{{ site.BASE_PATH }}/">Home</a></li>
				<li><a class="collink" href="{{ site.BASE_PATH}}/{{ site.categories_path }}">Categories</a></li>
				<li><a class="collink" href="{{ site.BASE_PATH}}/{{ site.tags_path }}">Tags</a></li>
  </ul>
	<ul class="list-unstyled">
{% for p in site.mypages %}
<li {% if page.url contains p %}class="active"{% endif %}><a class="collink" href="/{{ p }}">{{ p }}</a></li>
{% endfor %}
<li>
	</ul>
	<div class="clearfix"></div>
	<form class="srchfrm" action="{{ site.BASE_PATH }}/search" method="get">
    <input name="q" value="" type="text" placeholder="search binfalse.de" class="srchfld form-control" />
        <p><small>You will be redirected to <a class="collink" href="https://duckduckgo.com/">DuckDuckGo</a> for searching. Please see my <a class="collink" href="/man-page/#4c-searching-through-duckduckgo">privacy policy</a>.</small></small></p>
  </form>
</div>
<div id="srchbox" class="text-center">
    <form class="srchfrm" action="{{ site.BASE_PATH }}/search" method="get">
        <input name="q" value="" type="text" placeholder="search binfalse.de" class="srchfld form-control" />
        <p><small>You will be redirected to <a class="collink" href="https://duckduckgo.com/">DuckDuckGo</a>.<br>Please see my <a class="collink" href="/man-page/#4c-searching-through-duckduckgo">privacy policy</a>.</small></p>
        <button id="srchbtn" type="submit" class="btn btn-default btn-sm btn-dark"><i class="fa fa-search"></i> Search</button>
    </form>
</div>

<!-- sidebar.html end -->
